<%= div_for degree_progression do %>
  <div class="row">
    <div class="course col-md-6 col-md-offset-0 ">
	  <%= h(degree_progression.course.title) %>
      <% if degree_progression.is_complete %>
        <!-- <span class="label label-success pull-right"> -->
        <span class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
        <!-- </span> -->
      <% end %>
      
    </div>
  </div> 
<% end %>
