<%= image_tag("unm-flagship-logo.png", :class => "banner-logo") %>
<!-- <h1>Advisement Home</h1> -->

<% if !current_user.nil? %>

<% end %>

<div class="container">
<%= image_tag("graduation-2015.jpg") %>

<div id="home-groups">
    <div class="home-group">
        <h2>News</h2>
        <hr>
        
        <div class="panel-item">
            <a href="http://localhost:3000/" class="panel-title">Advisement Web Application Complete</a>
            <p class="panel-date">December 9, 2015</p>
        </div>
    </div>
    <div class="home-group">
        <h2>Events</h2>
        <hr>
        <div class="panel-item">
            <a href="http://localhost:3000/" class="panel-title">Advisement Web Application Complete</a>
            <p class="panel-date">December 9, 2015</p>
        </div>
    </div>
</div>